* {
    box-sizing: border-box;
}

.results-image {
    max-width: 500px;
    position: relative;
    margin: 0 auto;
}

.face-img {
    max-width: 100%;
    height: auto;
}

.bounding-box {
    position: absolute;
    box-shadow: 0 0 0 3px red inset;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    top: 98.16px;
    bottom: 167.55px;
    left: 239.44px;
    right: 335.67px;
    z-index: 2;
    cursor: pointer;
}

#data-table {
    max-width: 600px;
    margin: 0 auto;
    border-collapse: collapse;
    text-align: left;
}

th,
td {
    border: 1px solid #dddddd;
}